<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

@Html.Partial("LayoutPartial/_HeaderPartial")
<body>
    <!--/header-w3l-->
    <div class="header-w3l">
        <!-- header -->
        @Html.Partial("LayoutPartial/_NavbarPartial")
        <!-- //header -->
    </div>
    @RenderBody() 
    <!-- //Thank-section -->
    <!-- footer -->
    @Html.Partial("LayoutPartial/_FooterPartial")
    <!--//footer-->
    <!-- Template JavaScript -->
    @Html.Partial("LayoutPartial/_ScriptPartial")

</body>

</html>